body::before {
  content: "";
  /* color: #274C77;
  color: #BC4B51;
  color: #F4E285;


  color: #6096BA;
  color: #FAF3E0;
  color: #BC4B51; */


  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url("/media/preview.png") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.08; /* light overlay */
}
